/* Colors */
$header-colors: #293241;
$body-colors: #bfd7e4;
$emphasis: #f67669;
$form-colors: #fbf8f880;;
$text-main: #ffffff;
$text-label: #4e4958;
$text-fieldset: #253b51;
$border :#5f5f64;

.text-main {
    color: $text-main;
}

.emphasis{
    background: $emphasis;
}